/* @font-face {
font-family: 'Eras Light ITC';
font-style: normal;
font-weight: normal;
src: local('Eras Light ITC'),
url('ERASLGHT.woff') format('woff');
} */


.btn, .dropdown-item{
  font-size:18px !important;
}

html, body{
  background-color: #ffffff !important;
  font-family:'Raleway', sans-serif;
  font-weight: 100;
  font-size:18px;
}
.myNavbar, .card-header, .dropdown-item{
  color: #222222;
}

.dropdown-item:hover{
  background-color: #0070BB;
  color: white;
}

.myNavbar, .card-header{
  background-color: #222222 !important; /*Gris oscuro*/
  color: white;
}

.card-header{
  background-color: #222222 !important; /*Gris oscuro*/
  color: white;
}

.myCardHeader{
  color: #222222 !important;
  background-color: #f7f4f4 !important;
}

.dashboard-content{
  border-radius: 5px;
  padding: 0;
  margin: 0 10px 0 10px;
}

.item-list:hover{
  background-color: #0070BB !important;
  color: white !important;
}

/* Sidebar dentro de card-body */
.sidenav {
  min-height: 400px;
  z-index: 1;
  background-color: #0070BB;
  margin: 0 10px 0 10px;
  padding: 0;
  border-radius: 5px;
}

.sidenav-menu{
  color: white;
  padding: 10px 0 0 0;
}
.menuItem{
  padding: 10px 20px 10px 20px;
}
.menuSubItem{
  padding-left: 30px;
  text-decoration: none !important;
  color:white: !important;
}
.menuItem:hover{
  background-color: #399bdc !important;
}

.btn-table{
  width: 80px;
}

.pagination{
  justify-content: center;
}

.active span{
  background-color: #0070BB !important;
  border-color: #0070BB !important;
}

.page-item a{
  background-color: #f7f4f4 !important;
  color: #222222;
  border-color: #dfdfdf;
}

.page-item a:hover{
  background-color: #0070BB !important;
  border-color: #0070BB !important;
  color: white !important;
}


/* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} */
